
<div class="travel-advice-notice">
	<div class="travel-advice-notice__header">

		<div id="warning-text-577ee2bf" class="gem-c-warning-text govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<h2 class="govuk-warning-text__text gem-c-warning-text__text--large">
				<span class="govuk-warning-text__assistive">Important</span>
				There is an ongoing situation in Myanmar after the military coup on 1st Feb 2021
			</h2>
		</div>
	</div>
	<div class="travel-advice-notice__content">
		<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
			<!--						<p>-->
			<!--							<a href="https://fcdo-sms-subscriber.herokuapp.com/alert-history?country=Myanmar&sort=desc">See all alerts</a> for this incident.-->
			<!--						</p>-->
			<p>
				<a href="/add_country?countryToAdd=Myanmar&emergency=true">Sign up to receive alerts and the latest information</a> by email and SMS.
			</p>
			<p><a class="gem-c-subscription-links__item  gem-c-subscription-links__item--link" href="/foreign-travel-advice/myanmar/email-signup">
				Get emails when this page changes.
			</a></p>
		</div>
	</div>
</div>
