<div class="travel-advice-notice">
	<div class="travel-advice-notice__header">

		<div id="warning-text-577ee2bf" class="gem-c-warning-text govuk-warning-text">
			<h2 class="govuk-warning-text__text gem-c-warning-text__text--large">
				NEW - Emergency travel alerts
			</h2>
		</div>
	</div>
	<div class="travel-advice-notice__content">
		<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
			<!--						<p>-->
			<!--							<a href="https://fcdo-sms-subscriber.herokuapp.com/alert-history?country=Myanmar&sort=desc">See all alerts</a> for this incident.-->
			<!--						</p>-->
			<p>If an emergency incident occurs in Kenya, for example a terrorist attack or natural disaster, we will we will send you alerts via email or SMS. Alerts will include the latest developments and advice on what to do.
			</p>
			<p>
				<a href="/add_country?countryToAdd=Kenya&emergency=true">Sign up to get emergency alerts by email and SMS.</a>
			</p>
		</div>
	</div>
</div>
