{% extends "layout.html" %}

{% block pageTitle %}
Are you a British national? - gov.uk
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="intro">Back<span class="govuk-visually-hidden"> to start page</span></a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="form" action="country" method="post">
		  <div class="govuk-form-group">
			  <fieldset class="govuk-fieldset" aria-describedby="british-national-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					  <h1 class="govuk-heading-xl">
						  Are you a British national?
					  </h1>
				  </legend>
				  <div class="govuk-radios govuk-radios--inline">

					  <div class="govuk-radios__item">
						  <input class="govuk-radios__input" id="british-national" name="isBritishNational" type="radio" value="yes" {% if data['isBritishNational'] === 'yes' %}checked{% endif %}>
						  <label class="govuk-label govuk-radios__label" for="british-national">
							  Yes
						  </label>
					  </div>
					  <div class="govuk-radios__item">
						  <input class="govuk-radios__input" id="british-national-2" name="isBritishNational" type="radio" value="no" {% if data['isBritishNational'] === 'no' %}checked{% endif %}>
						  <label class="govuk-label govuk-radios__label" for="british-national-2">
							  No
						  </label>
					  </div>
				  </div>

			  </fieldset>
		  </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
