{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="friends-and-family">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Confirm your details before subscribing</h1>

      <h2 class="govuk-heading-m">Where we will send the alerts</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact Details
          </dt>
          <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{data['emailAddress']}}</p>
              <p class="govuk-body">{{data['phoneNumber']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="email_sms">
              Change
            </a>
          </dd>
        </div>
		  {% if data['emailaddresses'] and data['emailaddresses'].length %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Friends and Family
            </dt>
            <dd class="govuk-summary-list__value">

                  {% for emailaddress in data['emailaddresses'] %}
                    <p class="govuk-body">{{emailaddress}}</p>
                  {% endfor %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="friends-and-family">
                Change
              </a>
            </dd>
          </div>
		  {% endif %}
      </dl>

      <h2 class="govuk-heading-m">Type of alerts interested</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of alerts
          </dt>
          <dd class="govuk-summary-list__value">
			  {% if data['typeofalert'] and data['typeofalert'].length %}
			  {{data['typeofalert'].join(', ')}}
			  {% else %}
			  None selected
			  {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="what_type_of_alert">
              Change
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">How often want to receive emails</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Emails
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['howoftenemail']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="how_often_email">
              Change
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Receive Travel Update Until</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['day']}}/{{data['month']}}/{{data['year']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="when_do_you_want_to">
              Change
            </a>
          </dd>
        </div>
      </dl>
      
      <h2 class="govuk-heading-m">Countries to receive alerts for</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Countries
          </dt>
          <dd class="govuk-summary-list__value">
			  {% if data['countries'] and data['countries'].length %}
			  {{data['countries'].join(', ')}}
			  {% else %}
			  None selected
			  {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="country">
              Change
              <span class="govuk-visually-hidden"> country</span>
            </a>
          </dd>
        </div>
      </dl>

      <p>If you're happy with these details, click the button to subscribe.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Subscribe to alerts
        </button>

      </form>

    </div>
  </div>
{% endblock %}
