{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="friends-and-family">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before subscribing to travel alerts</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact Details
          </dt>
          <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{data['firstName']}}</p>
              <p class="govuk-body">{{data['emailAddress']}}</p>
              <p class="govuk-body">{{data['phoneNumber']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="name_email">
              Change
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Friends and Family
            </dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['friend1_email']}}</p>
                <p class="govuk-body">{{data['friend2_email']}}</p>
                <p class="govuk-body">{{data['friend3_email']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="friends-and-family">
                Change
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Countries to receive alerts for</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Countries
          </dt>
          <dd class="govuk-summary-list__value">
			  {% if data['countries'] and data['countries'].length %}
			  {{data['countries'].join(', ')}}
			  {% else %}
			  None selected
			  {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="country">
              Change
              <span class="govuk-visually-hidden"> country</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your subscription request</h2>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Subscribe to alerts
        </button>

      </form>

    </div>
  </div>
{% endblock %}
