{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="name_email">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before subscribing to travel alerts</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
			  {{data['firstName']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="name_email">
              Change
              <span class="govuk-visually-hidden"> first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
			  {{data['emailAddress']}}
          </dd>
          <dd class="govuk-summary-list__actions">
		  	<a href="name_email">
              Change
              <span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Countries to receive alerts for</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Countries
          </dt>
          <dd class="govuk-summary-list__value">
			  {% if data['countries'] and data['countries'].length %}
			  {{data['countries'].join(', ')}}
			  {% else %}
			  None selected
			  {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="country">
              Change
              <span class="govuk-visually-hidden"> country</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your subscription request</h2>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Subscribe to alerts
        </button>

      </form>

    </div>
  </div>
{% endblock %}
