{% extends "layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="when_do_you_want_to">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">
			How would you like to receive travel updates?
		</h1>

		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
				  Consider selecting more than one
				</span>
			</summary>
			<div class="govuk-details__text">
				<p>Selecting more than one option could help ensure you receive an alert in the event of an emergency.</p>
				<p>If you're travelling to a location where internet access or mobile networks might be unreliable, consider subscribing to both an internet-based service (email, WhatsApp) as well as SMS.</p>
				<p>You'll be able change these options later.</p>
			</div>
		</details>
		<form class="form" method="post" action="channels_chosen">
			<div class="govuk-form-group">
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						{% if 'email' in data['channels'] and data['emailAddress'] %}
						<input class="govuk-checkboxes__input" id="channels-email" name="channels" type="checkbox" value="email"
							   data-aria-controls="conditional-contact" checked>
						{% else %}
						<input class="govuk-checkboxes__input" id="channels-email" name="channels" type="checkbox" value="email"
							   data-aria-controls="conditional-contact">
						{% endif %}
						<label class="govuk-label govuk-checkboxes__label" for="channels-email">
							Email
						</label>
					</div>
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
						 id="conditional-contact">
						<div class="govuk-form-group">
							<label class="govuk-label" for="emailAddress">
								Email address
							</label>
							<input class="govuk-input govuk-!-width-one-third" id="emailAddress" name="emailAddress"
								   type="email" spellcheck="false" value="{{data['emailAddress']}}">
						</div>
					</div>
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							{% if 'sms' in data['channels'] and data['phoneNumber'] %}
							<input class="govuk-checkboxes__input" id="channels-sms" name="channels" type="checkbox"
								   value="sms" data-aria-controls="conditional-contact-3" checked>
							{% else %}
							<input class="govuk-checkboxes__input" id="channels-sms" name="channels" type="checkbox"
								   value="sms" data-aria-controls="conditional-contact-3">
							{% endif %}
							<label class="govuk-label govuk-checkboxes__label" for="channels-sms">
								SMS
							</label>
						</div>
						<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
							 id="conditional-contact-3">
							<div class="govuk-form-group">
								<label class="govuk-label" >
									Mobile phone number
								</label>
								<div id="telephone-number-hint" class="govuk-hint">
									For international numbers include the country code
								</div>
								<input class="govuk-input govuk-!-width-one-third" id="phoneNumber" name="phoneNumber"
									   type="tel" value="{{data['phoneNumber']}}" aria-describedby="telephone-number-hint" autocomplete="tel">
							</div>
						</div>
					</div>

					<div class="govuk-checkboxes__item">
						{% if 'whatsapp' in data['channels'] %}
						<input class="govuk-checkboxes__input" id="channels-whatsapp" name="channels" type="checkbox" value="whatsapp" checked data-aria-controls="conditional-whatsapp">
						{% else %}
						<input class="govuk-checkboxes__input" id="channels-whatsapp" name="channels" type="checkbox" value="whatsapp" data-aria-controls="conditional-whatsapp">
						{% endif %}
						<label class="govuk-label govuk-checkboxes__label" for="channels-whatsapp">
							WhatsApp
						</label>
					</div>
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
						 id="conditional-whatsapp">
						<p>To complete subscription for WhatsApp messages you'll need to do an extra step - we'll show you details later on.</p>
					</div>
				</div>
			</div>
			<button class="govuk-button" data-module="govuk-button">Continue</button>
		</form>
	</div>
</div>
{% endblock %}
