{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You’re subscribed to travel alerts</h1>
        <div class="govuk-panel__body">
          for {{data['country']}}
        </div>
      </div>
		{% if data['emailAddress'] %}
      <p>
        We have sent you a confirmation email, to {{data['emailAddress']}}
      </p>
		{% endif %}
		{% if data['phoneNumber'] %}
		<p>
			We have sent you a confirmation text message, to {{data['phoneNumber']}}
		</p>
		{% endif %}
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
