{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your subscription to travel updates</h1>
        <div class="govuk-panel__body">
          What to do next
        </div>
      </div>
		<br />
		{% if 'email' in data['channels'] and data['emailAddress'] %}
		<h2 class="govuk-heading-m">Email</h2>
      <p>
        An email has been sent to {{data['emailAddress']}}, which includes a link for you to verify your email address.
      </p>
		{% endif %}
		{% if 'sms' in data['channels'] and data['phoneNumberSms'] %}
		<h2 class="govuk-heading-m">SMS</h2>
		<p>
			A message has been sent by SMS to {{data['phoneNumberSms']}}. Reply to it as directed in the message to verify your number.
		</p>
		{% endif %}
		{% if 'whatsapp' in data['channels'] %}
		<h2 class="govuk-heading-m">WhatsApp</h2>
		<p>
			A WhatsApp message has been sent to {{data['phoneNumberWhatsApp']}}. Reply to it as directed in the message to verify your number.
		</p>
		{% endif %}

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<hr>
		<a href="https://fcdo-sms-subscriber.herokuapp.com/"><small>[for user testing - example of an alert]</small></a>
    </div>
  </div>

{% endblock %}
