{% extends "layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column">
		<h1 class="govuk-heading-xl">
			Choose which countries you'd like to get travel alerts for
		</h1>
			{% if data['countries'] and data['countries'].length %}
		<form id="countryList" class="form" method="post" action="name_email">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h2 class="govuk-fieldset__heading">
							Your selected countries
						</h2>
					</legend>
					<div class="govuk-checkboxes">
						{% for country in data['countries'] %}
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="country" name="countries" type="checkbox" value="{{country}}" checked>
							<label class="govuk-label govuk-checkboxes__label" for="country">
								{{country}}
							</label>
						</div>
						{% endfor %}
					</div>

				</fieldset>
			</div>
		</form>
			{% endif %}
		<form class="form" method="post" action="add_country">
			<div class="govuk-form-group">
				<label class="govuk-label" for="countryToAdd">
					Add another country
				</label>
				<select class="govuk-select" id="countryToAdd" name="countryToAdd">
					{% for country in data['availableCountries'] %}
					<option value="{{country}}">{{country}}</option>
					{% endfor %}
				</select>
				<button class="govuk-button" data-module="govuk-button">Add</button>
			</div>


		</form>

		<button class="govuk-button" data-module="govuk-button" form="countryList">I'm finished</button>
	</div>
</div>
{% endblock %}
