{% extends "layout.html" %}

{% block pageTitle %}
When do you want to stop receiving updates? - gov.uk
{% endblock %}

{% block beforeContent %}
        <a class="govuk-back-link" href="types-of-alert">Back<span class="govuk-visually-hidden"> to Enter email address for travel advice page updates</span></a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="form" action="check-your-answers" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-heading-xl">
                  When do you want to stop receiving updates?
                </h1>
              </legend>
				<p>If you do not wish to stop receiving updates, leave the end date blank and press continue.</p>
				<p>You'll also be able to unsubscribe at any time, instructions will be in every update you're sent.</p>
				<div id="hint" class="govuk-hint">
					Enter the day, month and year as numbers, for example, 27-03-2007
				</div>
             <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                </div>
              </div>

            </fieldset>
          </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
