{% extends "layout.html" %}

{% block beforeContent %}

	<!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-3e3f4a131aca72f9b2e458dfd318f65420aef6ada35539243aac38ebbbbcc64f.css">
	<!--<![endif]-->
	<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-ie8-e4fff1a2ce0e93e66e96db6eedae992a3859b1e608aa46bd3e42ac30f61c58ac.css" /><![endif]-->
	<link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">

	<link rel="stylesheet" media="all" href="https://www.gov.uk/assets/static/fonts-c57ab80a95f2b1764162611b3c98a4c098b356f8e30baf1e50cd63edea464c01.css">
	<!--[if lt IE 9]><script src="https://www.gov.uk/assets/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js"></script><![endif]-->

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-84fc3216469951e265aa202804a6c6141dc994b9d9f2aea628fac2a6aefd4580.css">
	<!--[if lte IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-ie8-773f4cacc5b2d19e924e37800dca2a1e66acd94c661e1cd95a8a165021bdc667.css" /><script>var ieVersion = 8;</script><![endif]-->

	<link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/core-layout-print-c5e97d0ed0feb1d1fc703ef0ed5201026330ec091e02c33fb1db277df068ede5.css">


	<link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/government-frontend/application-5f0c2950bf2d2003027656f490d55a1f5754275431b3cafcdd2a13c00635fd0d.css">
	<link rel="stylesheet" media="print" href="https://www.gov.uk/assets/government-frontend/print-05953d9b2040c0cc5c430d0df16bbca7dc70c4ac128d23a205253a4b7886c340.css">
	<link rel="alternate" type="application/atom+xml" title="Recent updates for Thailand" href="https://www.gov.uk/foreign-travel-advice/thailand.atom">



<div class="gem-c-contextual-breadcrumbs">



	<div class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-module="gem-track-click">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" href="/">Home</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/world/all" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;World&quot;}" class="govuk-breadcrumbs__link" href="/world/all">World</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/world/kenya" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;UK help and services in Kenya&quot;}" class="govuk-breadcrumbs__link" href="/world/kenya">UK help and services in Kenya</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/world/living-in-kenya" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Living in Kenya&quot;}" class="govuk-breadcrumbs__link" href="/world/living-in-kenya">Living in Kenya</a>
			</li>
		</ol>
	</div>



</div>
{% endblock %}

	{% block content %}
	<main role="main" id="content" class="travel-advice" lang="en">


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds travel-advice__header">
			<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl gem-c-title__context">
      Foreign travel advice
    </span>
				<h1 class="gem-c-title__text ">
					Kenya
				</h1>
			</div>

			<div class="travel-advice-notice">
				<div class="travel-advice-notice__header">

					<div id="warning-text-942a7859" class="gem-c-warning-text govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
						<h2 class="govuk-warning-text__text gem-c-warning-text__text--large">
							<span class="govuk-warning-text__assistive">Important</span>
							COVID-19 Travel

						</h2>
					</div>
				</div>
				<div class="travel-advice-notice__content">
					<p class="govuk-body">
						<strong>
							Under current UK COVID-19 restrictions, you must stay at home. It is illegal to travel abroad for holidays.
						</strong>
						Check the <a href="/guidance/national-lockdown-stay-at-home">rules in England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/covid-19-alert-levels">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>.
					</p>
					<p class="govuk-body">
						Do not travel unless you have a legally permitted reason to do so. In England, you must <a href="/guidance/coronavirus-covid-19-declaration-form-for-international-travel">complete a declaration form for international travel</a> (except for travel to Ireland).
					</p>
					<p class="govuk-body">
						<a href="/guidance/travel-advice-novel-coronavirus">Check our advice</a> for all the countries you will visit or transit through. Some countries have closed borders, and any country may further restrict travel or bring in new rules with little warning.
					</p>
					<p class="govuk-body">
						To <a href="/uk-border-control">enter or return to the UK from abroad</a> (except from Ireland), you must follow all the rules for entering the UK. These include providing your journey and contact details, and evidence of a negative COVID-19 test before you travel. When you arrive, you must quarantine and take additional COVID-19 tests. This will take place in a managed quarantine hotel if you enter England from a <a href="/guidance/transport-measures-to-protect-the-uk-from-variant-strains-of-covid-19">red list travel ban country</a>, or enter Scotland.
					</p>
				</div>
			</div>

			<aside class="part-navigation-container" role="complementary">
				<nav role="navigation" class="govuk-grid-row part-navigation" aria-label="Travel advice pages" data-module="gem-track-click">
					<nav class="gem-c-contents-list " aria-label="Contents" role="navigation" data-module="gem-track-click">
						<h2 class="gem-c-contents-list__title">
							Contents
						</h2>
						<ol class="gem-c-contents-list__list">
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
								Summary

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/foreign-travel-advice/kenya/coronavirus" data-track-options="{&quot;dimension29&quot;:&quot;Coronavirus&quot;}" href="/foreign-travel-advice/kenya/coronavirus">Coronavirus</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/kenya/safety-and-security" data-track-options="{&quot;dimension29&quot;:&quot;Safety and security&quot;}" href="/foreign-travel-advice/kenya/safety-and-security">Safety and security</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/foreign-travel-advice/kenya/terrorism" data-track-options="{&quot;dimension29&quot;:&quot;Terrorism&quot;}" href="/foreign-travel-advice/kenya/terrorism">Terrorism</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/foreign-travel-advice/kenya/local-laws-and-customs" data-track-options="{&quot;dimension29&quot;:&quot;Local laws and customs&quot;}" href="/foreign-travel-advice/kenya/local-laws-and-customs">Local laws and customs</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/foreign-travel-advice/kenya/entry-requirements" data-track-options="{&quot;dimension29&quot;:&quot;Entry requirements&quot;}" href="/foreign-travel-advice/kenya/entry-requirements">Entry requirements</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/foreign-travel-advice/kenya/health" data-track-options="{&quot;dimension29&quot;:&quot;Health&quot;}" href="/foreign-travel-advice/kenya/health">Health</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="/foreign-travel-advice/kenya/natural-disasters" data-track-options="{&quot;dimension29&quot;:&quot;Natural disasters&quot;}" href="/foreign-travel-advice/kenya/natural-disasters">Natural disasters</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="/foreign-travel-advice/kenya/money" data-track-options="{&quot;dimension29&quot;:&quot;Money&quot;}" href="/foreign-travel-advice/kenya/money">Money</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="/foreign-travel-advice/kenya/travel-advice-help-and-support" data-track-options="{&quot;dimension29&quot;:&quot;Travel advice help and support&quot;}" href="/foreign-travel-advice/kenya/travel-advice-help-and-support">Travel advice help and support</a>

							</li>
						</ol>
					</nav>
				</nav>

				<section class="gem-c-subscription-links ">
					<h2 class="gem-c-subscription-links__hidden-header visuallyhidden">Subscriptions</h2>
					<ul class="gem-c-subscription-links__list">
						<li class="gem-c-subscription-links__list-item">
							<a class="gem-c-subscription-links__item  gem-c-subscription-links__item--link" href="/foreign-travel-advice/kenya/email-signup">           <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15.75" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M19.687 0H1.312C.589 0 0 .587 0 1.313v13.124c0 .726.588 1.313 1.313 1.313h18.374c.725 0 1.313-.587 1.313-1.313V1.313C21 .587 20.412 0 19.687 0zm-2.625 2.625L10.5 7.875l-6.563-5.25h13.126zm1.313 10.5H2.625V3.937L10.5 10.5l7.875-6.563v9.188z"></path></svg>
								Get email alerts
							</a>
						</li>

						<li class="gem-c-subscription-links__list-item">

							<a class="gem-c-subscription-links__item  gem-c-subscription-links__item--link" href="/foreign-travel-advice/kenya.atom">            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path></svg>
								Subscribe to feed
							</a>
						</li>
					</ul>

				</section>
			</aside>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="part-title">
				Summary
			</h1>


			<div class="gem-c-metadata" data-module="gem-toggle">
				<dl data-module="gem-track-click">
					<dt class="gem-c-metadata__term">Still current at:</dt>
					<dd class="gem-c-metadata__definition">
						10 March 2021

					</dd>
					<dt class="gem-c-metadata__term">Updated:</dt>
					<dd class="gem-c-metadata__definition">
						18 February 2021

					</dd>
					<dt class="gem-c-metadata__term">Latest update:</dt>
					<dd class="gem-c-metadata__definition">
						<p>Information about COVID-19 vaccines if you live in Kenya ('Coronavirus' page)</p>

					</dd>
				</dl>
			</div>



			<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
				<p><strong>The Foreign, Commonwealth &amp; Development Office (<abbr title="Foreign, Commonwealth &amp; Development Office">FCDO</abbr>) advises against all but essential travel to:</strong></p>

				<ul>
					<li>areas within 60km of the Kenya-Somali border</li>
					<li>Garissa County</li>
					<li>Lamu County (excluding Lamu Island and Manda Island)</li>
					<li>areas of Tana River County north of the Tana river itself</li>
					<li>within 15km of the coast from the Tana river down to the Galana (Athi-Galana-Sabaki) river</li>
					<li>the remainder of Kenya based on the current assessment of COVID-19 risks</li>
				</ul>
				<div class="travel-advice-notice">
					<div class="travel-advice-notice__header">

						<div id="warning-text-577ee2bf" class="gem-c-warning-text govuk-warning-text">
							<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
							<h2 class="govuk-warning-text__text gem-c-warning-text__text--large">
								<span class="govuk-warning-text__assistive">Important</span>
								There is an ongoing security incident in Nairobi, Kenya on 15th Jan 2019
							</h2>
						</div>
					</div>
					<div class="travel-advice-notice__content">
						<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
							<p>
								<a href="https://fcdo-sms-subscriber.herokuapp.com/alert-history?country=Kenya&sort=desc">See all alerts</a> for this incident.
							</p>
							<p>
								<a href="/add_country?countryToAdd=Myanmar">Sign up to receive alerts and the latest information</a> by email and SMS.
							</p>
						</div>
					</div>
				</div>
				<div class="call-to-action">
					<div role="note" aria-label="Warning" class="application-notice help-notice">
						<p>Travel is subject to entry restrictions</p>
					</div>

					<ul>
						<li>If you travel to Kenya you will need to obtain a negative COVID-19 PCR test result, a medical certificate confirming you are free from coronavirus, and complete a COVID-19 Travellers Health Surveillance Form</li>
					</ul>

					<p>See <a href="/foreign-travel-advice/kenya/entry-requirements">Entry Requirements</a>
						for more information before you plan to travel.</p>

					<div role="note" aria-label="Warning" class="application-notice help-notice">
						<p>Preparing for your return journey to the UK</p>
					</div>

					<p>If you’re returning to the UK from overseas, you will need to:</p>

					<ul>
						<li>
							<a href="/provide-journey-contact-details-before-travel-uk">provide your journey and contact details</a> before you travel</li>
						<li><a href="/uk-border-control">check if you need to self-isolate on your return</a></li>
					</ul>

					<p>If your return journey to the UK transits another country, you should check whether it is subject to a <a href="https://www.gov.uk/guidance/transport-measures-to-protect-the-uk-from-variant-strains-of-covid-19">travel ban</a> or any other additional requirements. If so, contact your travel provider.</p>
				</div>

				<p>Check our <a href="/guidance/travel-advice-novel-coronavirus">advice on foreign travel during the coronavirus (COVID-19) pandemic</a> and <a href="/foreign-travel-advice/kenya/email-signup">sign up for email alerts</a> for this travel advice.</p>

				<p>If you’re planning travel to Kenya, find out what you need to know about coronavirus there in the <a href="/foreign-travel-advice/kenya/coronavirus">Coronavirus section</a>.</p>

				<p>During the COVID-19 pandemic, it is more important than ever to get travel insurance and check it provides sufficient cover. See the FCO’s <a href="/guidance/foreign-travel-insurance">guidance on foreign travel insurance</a>.</p>

				<p>For information about COVID-19 vaccines, see the <a href="https://www.gov.uk/foreign-travel-advice/kenya/coronavirus#covid-19-vaccines-if-you-live-in-kenya">Coronavirus page</a>.</p>

				<p>You must carry a form of ID with you at all times. A copy of your passport is normally acceptable, but recently some police officers have been insisting on the original document.</p>

				<p>Terrorists are very likely to try to carry out attacks in Kenya. There is a heightened threat of terrorism, including terrorist kidnappings, across Kenya. Attacks, including terrorist kidnappings, could target Westerners, including British nationals. Attacks could occur at any time, including around religious or public holidays. Attacks could be indiscriminate in places frequented by foreigners including hotels, bars, restaurants, sports bars and nightclubs, sporting events, supermarkets, shopping centres, commercial buildings, coastal areas including beaches, government buildings, airports, buses, trains and other transport hubs. Places of worship including churches and mosques have also been targeted. Be particularly vigilant in these areas. See <a href="https://www.gov.uk/foreign-travel-advice/kenya/terrorism">Terrorism</a></p>

				<p>There are frequent incidents of violent crime including mugging, armed robbery and carjacking, particularly in the large cities. See <a href="/foreign-travel-advice/kenya/safety-and-security#crime">Crime</a></p>

				<p>There is a threat of piracy in the Gulf of Aden and Indian Ocean. See <a href="/foreign-travel-advice/kenya/safety-and-security#sea-travel">Sea travel</a></p>

				<p>If you’re abroad and you need emergency help from the UK Government, contact the <a href="https://www.gov.uk/government/world/embassies">nearest British embassy, consulate or high commission</a>. Consular support is limited in parts of Kenya where the <abbr title="Foreign, Commonwealth &amp; Development Office">FCDO</abbr> advise against all but essential travel.</p>

				<p>You should consider making personal contingency plans, check this travel advice when planning travel around the country and keep up to date by <a href="https://www.gov.uk/foreign-travel-advice/email-signup">subscribing to email alerts</a>. See <a href="/foreign-travel-advice/kenya/safety-and-security">Safety and security</a></p>

				<p>The <a href="https://www.gov.uk/government/collections/overseas-business-risk">Overseas Business Risk</a> service offers information and advice for British companies operating overseas on how to manage political, economic, and business security-related risks.</p>



			</div>

			<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
				<ul class="gem-c-pagination__list" data-module="gem-track-click">
					<li class="gem-c-pagination__item gem-c-pagination__item--next">
						<a href="/foreign-travel-advice/kenya/coronavirus" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/foreign-travel-advice/kenya/coronavirus" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
							<span class="gem-c-pagination__link-divider visually-hidden">:</span>
							<span class="gem-c-pagination__link-label">Coronavirus</span>
						</a>
					</li>
				</ul>
			</nav>



			<div class="gem-c-print-link gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
				<a class="govuk-link gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" data-module="button" role="button" href="/foreign-travel-advice/kenya/print">Print entire guide</a>
			</div>
		</div>

		<div class="govuk-grid-column-one-third">

			<div class="gem-c-contextual-sidebar">


				<div class="gem-c-related-navigation">

					<h2 id="related-nav-related_items-64ad8927" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
						Related content
					</h2>




					<nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-64ad8927" data-module="gem-toggle">


						<ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">


							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/guidance/about-foreign-commonwealth-development-office-travel-advice" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;About Foreign, Commonwealth \u0026 Development Office travel advice&quot;}" href="/guidance/about-foreign-commonwealth-development-office-travel-advice">About Foreign, Commonwealth &amp; Development Office travel advice</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/guidance/how-to-deal-with-a-crisis-overseas" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;What to do if you’re affected by a crisis overseas&quot;}" href="/guidance/how-to-deal-with-a-crisis-overseas">What to do if you’re affected by a crisis overseas</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/guidance/foreign-travel-checklist" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Foreign travel checklist&quot;}" href="/guidance/foreign-travel-checklist">Foreign travel checklist</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.4 Related content" data-track-label="/world/kenya" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;UK help and services in Kenya&quot;}" href="/world/kenya">UK help and services in Kenya</a></li>

						</ul>
					</nav>

				</div>



			</div>

		</div>

	</div>


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<div class="gem-c-contextual-footer">

				<div class="gem-c-related-navigation">





					<nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-068ca090" data-module="gem-toggle">

						<h2 id="related-nav-topics-068ca090" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

						<ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">


							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/world/living-in-kenya" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Living in Kenya&quot;}" href="/world/living-in-kenya">Living in Kenya</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/world/travelling-to-kenya" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Travelling to Kenya&quot;}" href="/world/travelling-to-kenya">Travelling to Kenya</a></li>

						</ul>
					</nav>

				</div>

			</div>


		</div>
	</div>


</main>

{% endblock %}
