{% extends "layout.html" %}

{% block beforeContent %}

	<!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-3e3f4a131aca72f9b2e458dfd318f65420aef6ada35539243aac38ebbbbcc64f.css">
	<!--<![endif]-->
	<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-ie8-e4fff1a2ce0e93e66e96db6eedae992a3859b1e608aa46bd3e42ac30f61c58ac.css" /><![endif]-->
	<link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">

	<link rel="stylesheet" media="all" href="https://www.gov.uk/assets/static/fonts-c57ab80a95f2b1764162611b3c98a4c098b356f8e30baf1e50cd63edea464c01.css">
	<!--[if lt IE 9]><script src="https://www.gov.uk/assets/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js"></script><![endif]-->

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-84fc3216469951e265aa202804a6c6141dc994b9d9f2aea628fac2a6aefd4580.css">
	<!--[if lte IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-ie8-773f4cacc5b2d19e924e37800dca2a1e66acd94c661e1cd95a8a165021bdc667.css" /><script>var ieVersion = 8;</script><![endif]-->

	<link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/core-layout-print-c5e97d0ed0feb1d1fc703ef0ed5201026330ec091e02c33fb1db277df068ede5.css">


	<link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/government-frontend/application-5f0c2950bf2d2003027656f490d55a1f5754275431b3cafcdd2a13c00635fd0d.css">
	<link rel="stylesheet" media="print" href="https://www.gov.uk/assets/government-frontend/print-05953d9b2040c0cc5c430d0df16bbca7dc70c4ac128d23a205253a4b7886c340.css">
	<link rel="alternate" type="application/atom+xml" title="Recent updates for Thailand" href="https://www.gov.uk/foreign-travel-advice/thailand.atom">



<div class="gem-c-contextual-breadcrumbs">



	<div class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-module="track-click">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" href="/">Home</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/world/all" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;World&quot;}" class="govuk-breadcrumbs__link" href="/world/all">World</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/world/myanmar" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;UK help and services in Myanmar (Burma)&quot;}" class="govuk-breadcrumbs__link" href="/world/myanmar">UK help and services in Myanmar (Burma)</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/world/living-in-myanmar" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Living in Myanmar&quot;}" class="govuk-breadcrumbs__link" href="/world/living-in-myanmar">Living in Myanmar</a>
			</li>
		</ol>
	</div>



</div>
{% endblock %}

	{% block content %}
	<main role="main" id="content" class="travel-advice" lang="en">


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds travel-advice__header">
			<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl gem-c-title__context">
      Foreign travel advice
    </span>
				<h1 class="gem-c-title__text ">
					Myanmar (Burma)
				</h1>
			</div>
			<div class="travel-advice-notice">
				<div class="travel-advice-notice__header">

					<div id="warning-text-942a7859" class="gem-c-warning-text govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
						<h2 class="govuk-warning-text__text gem-c-warning-text__text--large">
							<span class="govuk-warning-text__assistive">Important</span>
							COVID-19 Travel

						</h2>
					</div>
				</div>
				<div class="travel-advice-notice__content">
					<p class="govuk-body">
						<strong>
							Under current UK COVID-19 restrictions, you must stay at home. It is illegal to travel abroad for holidays.
						</strong>
						Check the <a href="/guidance/national-lockdown-stay-at-home">rules in England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/covid-19-alert-levels">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>.
					</p>
					<p class="govuk-body">
						Do not travel unless you have a legally permitted reason to do so. In England, you must <a href="/guidance/coronavirus-covid-19-declaration-form-for-international-travel">complete a declaration form for international travel</a> (except for travel to Ireland).
					</p>
					<p class="govuk-body">
						<a href="/guidance/travel-advice-novel-coronavirus">Check our advice</a> for all the countries you will visit or transit through. Some countries have closed borders, and any country may further restrict travel or bring in new rules with little warning.
					</p>
					<p class="govuk-body">
						To <a href="/uk-border-control">enter or return to the UK from abroad</a> (except from Ireland), you must follow all the rules for entering the UK. These include providing your journey and contact details, and evidence of a negative COVID-19 test before you travel. When you arrive, you must quarantine and take additional COVID-19 tests. This will take place in a managed quarantine hotel if you enter England from a <a href="/guidance/transport-measures-to-protect-the-uk-from-variant-strains-of-covid-19">red list travel ban country</a>, or enter Scotland.
					</p>
				</div>
			</div>
			<aside class="part-navigation-container" role="complementary">
				<nav role="navigation" class="govuk-grid-row part-navigation" aria-label="Travel advice pages" data-module="track-click">
					<nav class="gem-c-contents-list " aria-label="Contents" role="navigation" data-module="track-click">
						<h2 class="gem-c-contents-list__title">
							Contents
						</h2>
						<ol class="gem-c-contents-list__list">
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
								Summary

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/foreign-travel-advice/myanmar/coronavirus" data-track-options="{&quot;dimension29&quot;:&quot;Coronavirus&quot;}" href="/foreign-travel-advice/myanmar/coronavirus">Coronavirus</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/myanmar/return-to-the-uk" data-track-options="{&quot;dimension29&quot;:&quot;Return to the UK&quot;}" href="/foreign-travel-advice/myanmar/return-to-the-uk">Return to the UK</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/foreign-travel-advice/myanmar/safety-and-security" data-track-options="{&quot;dimension29&quot;:&quot;Safety and security&quot;}" href="/foreign-travel-advice/myanmar/safety-and-security">Safety and security</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/foreign-travel-advice/myanmar/terrorism" data-track-options="{&quot;dimension29&quot;:&quot;Terrorism&quot;}" href="/foreign-travel-advice/myanmar/terrorism">Terrorism</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/foreign-travel-advice/myanmar/local-laws-and-customs" data-track-options="{&quot;dimension29&quot;:&quot;Local laws and customs&quot;}" href="/foreign-travel-advice/myanmar/local-laws-and-customs">Local laws and customs</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/foreign-travel-advice/myanmar/entry-requirements" data-track-options="{&quot;dimension29&quot;:&quot;Entry requirements&quot;}" href="/foreign-travel-advice/myanmar/entry-requirements">Entry requirements</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="/foreign-travel-advice/myanmar/health" data-track-options="{&quot;dimension29&quot;:&quot;Health&quot;}" href="/foreign-travel-advice/myanmar/health">Health</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="/foreign-travel-advice/myanmar/natural-disasters" data-track-options="{&quot;dimension29&quot;:&quot;Natural disasters&quot;}" href="/foreign-travel-advice/myanmar/natural-disasters">Natural disasters</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="/foreign-travel-advice/myanmar/money" data-track-options="{&quot;dimension29&quot;:&quot;Money&quot;}" href="/foreign-travel-advice/myanmar/money">Money</a>

							</li>
							<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
								<a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 11" data-track-label="/foreign-travel-advice/myanmar/travel-advice-help-and-support" data-track-options="{&quot;dimension29&quot;:&quot;Travel advice help and support&quot;}" href="/foreign-travel-advice/myanmar/travel-advice-help-and-support">Travel advice help and support</a>

							</li>
						</ol>
					</nav>
				</nav>

				{% include "includes/alert-subscribe-box.html" %}
			</aside>
			<h1 class="part-title">
				Summary
			</h1>
			<div class="gem-c-metadata" data-module="gem-toggle">
				<dl data-module="track-click">
					<dt class="gem-c-metadata__term">Still current at:</dt>
					<dd class="gem-c-metadata__definition">
						19 February 2021

					</dd>
					<dt class="gem-c-metadata__term">Updated:</dt>
					<dd class="gem-c-metadata__definition">
						17 February 2021

					</dd>
					<dt class="gem-c-metadata__term">Latest update:</dt>
					<dd class="gem-c-metadata__definition">
						<p>Updated information on leaving Myanmar by commercial means if you have concerns for your safety (See  'Return to UK')</p>

					</dd>
				</dl>
			</div>

			<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
				<p>
					<strong>The Foreign, Commonwealth & Development Office (FCDO) advises against all but essential travel across Myanmar, based on recent political events and the current assessment of the COVID-19 risk.</strong> If you have concerns for your safety in the current situation, you should consider leaving Myanmar by commercial means. <a href="https://www.gov.uk/foreign-travel-advice/myanmar/return-to-the-uk">See Return to UK</a>.</p>
			</div>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
				<p>As of 1 February, the Myanmar Military have declared a state of emergency and assumed control. There are reports that figures in the Civilian Government, civil society and a foreign national have been detained by the military. The British Embassy is following the situation carefully and will continue to update the Travel Advice. The military has shut down access to various internet platforms and reports of disruptions to wider internet, phone networks and ATMs are widespread.  You are advised to stay home and stay safe. If you need to collect essential provisions, you should do so quickly and avoiding crowds. There is a nationwide curfew imposed between 8pm and 4am until further notice.</p>
				<p>If you’re in Myanmar and you need urgent help, use one of the following numbers:</p>
				<ul>
					<li>+95 (01) 370863</li>
					<li>+95 (01) 370864</li>
					<li>+95 (01) 370865</li>
					<li>+95 (01) 370867</li>
				</ul>
				<p>Please be aware that there may be disruptions to phone networks.</p>
				<p>If you’re in the UK and worried about a British national in Myanmar, call 020 7008 1500.</p>
				<p>The military have suspended all scheduled international commercial passenger flights until 31 May 2021. However, the British Embassy understands that some services will be available. See <a href="/foreign-travel-advice/myanmar/return-to-the-uk#flights">Flights</a> for more information on commercial options leaving Myanmar. Land borders are closed.</p>
				<p>If you wish to return to the UK from Myanmar, you should <a href="/foreign-travel-advice/myanmar/return-to-the-uk#your-journey-home-before-you-leave-myanmar">check what you need to do before leaving to meet UK entry requirements</a>.</p>

				<div class="call-to-action">
					<div role="note" aria-label="Warning" class="application-notice help-notice">
						<p>Travel to Myanmar is subject to entry restrictions</p>
					</div>

					<ul>
						<li>The military have directed airports to close and suspended international commercial passenger flights until 31 May 2021 at the earliest</li>
						<li>Residents of the United Kingdom, or those who have visited the United Kingdom within the previous 14 days, are currently unable to enter Myanmar.</li>
						<li>Arrivals must comply with Myanmar’s COVID-19 quarantine requirements.</li>
					</ul>

					<p>See <a href="/foreign-travel-advice/myanmar/entry-requirements">Entry requirements</a> for more information before you plan to travel.</p>

					<div role="note" aria-label="Warning" class="application-notice help-notice">
						<p>Preparing for your return journey to the UK</p>
					</div>

					<p>If you’re returning to the UK from overseas, you will need to:</p>

					<ul>
						<li>
							<a href="/provide-journey-contact-details-before-travel-uk">provide your journey and contact details</a> before you travel</li>
						<li><a href="/uk-border-control">check if you need to self-isolate on your return</a></li>
					</ul>
				</div>

				<p>Check our <a href="/guidance/travel-advice-novel-coronavirus">advice on foreign travel during the coronavirus (COVID-19) pandemic</a> and <a href="/add_country?countryToAdd=Myanmar">sign up to receive travel updates</a>.</p>

				<p>If you’re planning travel to Myanmar, find out what you need to know about coronavirus there in the <a href="/foreign-travel-advice/myanmar/coronavirus">Coronavirus section</a>.</p>

				<p>During the COVID-19 pandemic, it is more important than ever to get travel insurance and check it provides sufficient cover. See the <abbr title="Foreign, Commonwealth &amp; Development Office">FCDO</abbr> <a href="/guidance/foreign-travel-insurance">guidance on foreign travel insurance</a>.</p>

				<p>Take particular care in the border areas with China, Thailand, Bangladesh, India and Laos. The security situation in border areas is often volatile. Border areas have been particularly affected by military activity, ethnic militias, armed drug smugglers and the presence of landmines. There is ongoing conflict in the north of Shan State, Southern Chin, Kachin, Karen/Kayin and northern and central Rakhine states. In these areas, travellers should be prepared for a high armed, military and police presence including passing through checkpoints. There remains the possibility of violent clashes in other border areas. See <a href="/foreign-travel-advice/myanmar/safety-and-security#border-areas">Border areas</a></p>

				<p>Political tension and unrest could happen at short notice. You should avoid all demonstrations and large gatherings. Do not take photographs or videos of the police, demonstrations, military installations or military personnel. There is an increased security presence in Naypyitaw, Yangon and other areas. You should follow the news for your area, and avoid large crowds. See <a href="/foreign-travel-advice/burma/safety-and-security#political-situation">Political situation</a></p>

				<p>Terrorists are likely to try to carry out attacks in Myanmar. You should remain vigilant and follow the advice of local authorities. See <a href="/foreign-travel-advice/burma/terrorism">Terrorism</a></p>

				<p>UK health authorities have classified Myanmar as having a risk of Zika virus transmission. For information and advice about the risks associated with Zika virus, visit the <a rel="external" href="https://travelhealthpro.org.uk/country/156/burma-myanmar">National Travel Health Network and Centre website</a>.</p>

				<p>Urban areas, particularly Yangon and Mandalay, can experience poor air quality. See <a href="/foreign-travel-advice/myanmar/health">Health</a></p>

				<p>Credit and debit cards are increasingly accepted in major tourist areas but some cards do not work. Check in advance that your card will work. See <a href="/foreign-travel-advice/myanmar/money">Money</a></p>

				<p>Most visits to Myanmar are trouble-free. The most common types of consular assistance cases are related to lost passports, petty theft and road accidents.</p>

				<p>If you need to contact local emergency services, call 199 for police, 192 for medical assistance and 191 for the fire service. You should be aware that phone operators may not speak English. Tourist Police outposts are available in Yangon, Bagan and Mandalay with English speaking officers. You can only visit these posts in person and they are not contactable by phone. Their services may be affected by COVID-19 measures.</p>

				<p>If you’re abroad and you need emergency help from the UK government, contact the <a href="https://www.gov.uk/government/world/embassies">nearest British embassy, consulate or high commission</a>. We continue to operate a consular service. However, the ability of the British Embassy to provide face-to-face assistance within Myanmar is currently extremely limited, and the majority of Yangon is currently under a stay at home order. In any case, consular support is largely unavailable in parts of Myanmar where embassy officials need travel permission from the Myanmar government. Permission is not guaranteed. The British Embassy’s ability to deliver consular assistance, including in an emergency, may be restricted or delayed in these areas. If you’re arrested or detained, ask police or prison officials to notify the British Embassy immediately.</p>

				<p>If you’re resident in Myanmar or planning to stay for a longer period, you can find advice on our <a href="https://www.gov.uk/guidance/living-in-burma">Living in Myanmar guide</a>.</p>

				<p>The <a href="https://www.gov.uk/government/publications/overseas-business-risk-burma">Overseas Business Risk service</a> offers information and advice for British companies operating overseas on how to manage political, economic, and business security-related risks.</p>



			</div>

			<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
				<ul class="gem-c-pagination__list" data-module="track-click">
					<li class="gem-c-pagination__item gem-c-pagination__item--next">
						<a href="/foreign-travel-advice/myanmar/coronavirus" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/foreign-travel-advice/myanmar/coronavirus" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
							<span class="gem-c-pagination__link-divider visually-hidden">:</span>
							<span class="gem-c-pagination__link-label">Coronavirus</span>
						</a>
					</li>
				</ul>
			</nav>



			<div class="gem-c-print-link gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
				<a class="govuk-link gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" data-module="button" role="button" href="/foreign-travel-advice/myanmar/print">Print entire guide</a>
			</div>
		</div>

		<div class="govuk-grid-column-one-third">

			<div class="gem-c-contextual-sidebar">


				<div class="gem-c-related-navigation">

					<h2 id="related-nav-related_items-ed5e76b6" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
						Related content
					</h2>




					<nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-ed5e76b6" data-module="gem-toggle">


						<ul class="gem-c-related-navigation__link-list" data-module="track-click">


							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/guidance/about-foreign-commonwealth-development-office-travel-advice" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;About Foreign, Commonwealth \u0026 Development Office travel advice&quot;}" href="/guidance/about-foreign-commonwealth-development-office-travel-advice">About Foreign, Commonwealth &amp; Development Office travel advice</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/guidance/how-to-deal-with-a-crisis-overseas" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;What to do if you’re affected by a crisis overseas&quot;}" href="/guidance/how-to-deal-with-a-crisis-overseas">What to do if you’re affected by a crisis overseas</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/guidance/foreign-travel-checklist" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Foreign travel checklist&quot;}" href="/guidance/foreign-travel-checklist">Foreign travel checklist</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.4 Related content" data-track-label="/world/myanmar" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;UK help and services in Myanmar (Burma)&quot;}" href="/world/myanmar">UK help and services in Myanmar (Burma)</a></li>

						</ul>
					</nav>

				</div>



			</div>

		</div>

	</div>


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<div class="gem-c-contextual-footer">

				<div class="gem-c-related-navigation">





					<nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-4cbe89f8" data-module="gem-toggle">

						<h2 id="related-nav-topics-4cbe89f8" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

						<ul class="gem-c-related-navigation__link-list" data-module="track-click">


							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/world/living-in-myanmar" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Living in Myanmar&quot;}" href="/world/living-in-myanmar">Living in Myanmar</a></li>
							<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/world/travelling-to-myanmar" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Travelling to Myanmar&quot;}" href="/world/travelling-to-myanmar">Travelling to Myanmar</a></li>

						</ul>
					</nav>

				</div>

			</div>


		</div>
	</div>


</main>

{% endblock %}
