{% extends "layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="country">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Send an SMS emergency alert (1)
		</h1>
		<form class="form" method="post" action="sms_2">
			<div class="govuk-form-group">
				<label class="govuk-label" for="phoneNumber">
					Mobile phone number
				</label>
				<input class="govuk-input govuk-!-width-one-third" id="phoneNumber" name="phoneNumber"
					   type="tel" value="{{data['phoneNumber']}}">
			</div>

			<button class="govuk-button" data-module="govuk-button">Continue</button>
		</form>
	</div>
</div>
{% endblock %}
