{% extends "layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="types-of-alert">Back<span class="govuk-visually-hidden"> to Types of alert</span></a>
{% endblock %}
{% block pageTitle %}
What is your email address for travel advice page updates? - gov.uk
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">
			What is your email address for travel advice page updates?
		</h1>
		<form class="form" method="post" action="travel-updates-email-submit">
			<div class="govuk-form-group">
				<label class="govuk-label" for="emailAddress">
					Email address
				</label>
				<input class="govuk-input govuk-!-width-one-third" id="emailAddress" name="emailAddressTravelAdvice"
					   type="email" spellcheck="false" value="{{data['emailAddressTravelAdvice']}}">
			</div>
			<button class="govuk-button" data-module="govuk-button">Continue</button>
		</form>
	</div>
</div>
{% endblock %}
