{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="country">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-what-type-of-alert" method="post">
		  <div class="govuk-form-group">
			  <fieldset class="govuk-fieldset" aria-describedby="british-national-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					  <h1 class="govuk-heading-xl">
						  Which types of update are you interested in?
					  </h1>
					</legend>

				  <div class="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Emergency or incident in the country')%}
							<input class="govuk-checkboxes__input" id="emergencyupdateonly" name="typeofalert" type="checkbox" value="Emergency or incident in the country" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="emergencyupdateonly" name="typeofalert" type="checkbox" value="Emergency or incident in the country">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="emergencyupdateonly">
								Emergency or incident in the country
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Safety and security')%}
							<input class="govuk-checkboxes__input" id="safetyandsecurity" name="typeofalert" type="checkbox" value="Safety and security" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="safetyandsecurity" name="typeofalert" type="checkbox" value="Safety and security">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="safetyandsecurity">
								Safety and security
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Terrorism')%}
							<input class="govuk-checkboxes__input" id="terrorism" name="typeofalert" type="checkbox" value="Terrorism" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="terrorism" name="typeofalert" type="checkbox" value="Terrorism">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="terrorism">
								Terrorism
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Local laws and customs')%}
							<input class="govuk-checkboxes__input" id="locallawsandcustoms" name="typeofalert" type="checkbox" value="Local laws and customs" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="locallawsandcustoms" name="typeofalert" type="checkbox" value="Local laws and customs">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="locallawsandcustoms">
								Local laws and customs
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Entry requirements')%}
							<input class="govuk-checkboxes__input" id="entryrequirements" name="typeofalert" type="checkbox" value="Entry requirements" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="entryrequirements" name="typeofalert" type="checkbox" value="Entry requirements">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="entryrequirements">
								Entry requirements
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Health')%}
							<input class="govuk-checkboxes__input" id="health" name="typeofalert" type="checkbox" value="Health" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="health" name="typeofalert" type="checkbox" value="Health">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="health">
								Health
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Natural disaster')%}
							<input class="govuk-checkboxes__input" id="naturaldisaster" name="typeofalert" type="checkbox" value="Natural disaster" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="naturaldisaster" name="typeofalert" type="checkbox" value="Natural disaster">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="naturaldisaster">
								Natural disaster
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Money')%}
							<input class="govuk-checkboxes__input" id="money" name="typeofalert" type="checkbox" value="Money" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="money" name="typeofalert" type="checkbox" value="Money">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="money">
								Money
							</label>
						</div>
						<div class="govuk-checkboxes__item">
							{%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Travel advice help and support')%}
							<input class="govuk-checkboxes__input" id="traveladvicehelpandsupport" name="typeofalert" type="checkbox" value="Travel advice help and support" checked>
							{%else%}
							<input class="govuk-checkboxes__input" id="traveladvicehelpandsupport" name="typeofalert" type="checkbox" value="Travel advice help and support">
							{%endif%}
							<label class="govuk-label govuk-checkboxes__label" for="traveladvicehelpandsupport">
								Travel advice help and support
							</label>
						</div>
					</div>
			  </fieldset>
		  </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
