{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="country">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="form" action="when_do_you_want_to" method="post">
		  <div class="govuk-form-group">
			  <fieldset class="govuk-fieldset" aria-describedby="british-national-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					  <h1 class="govuk-heading-xl">
						  Which types of update are you interested in?
					  </h1>
				  </legend>
			  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
				  <div class="govuk-checkboxes__item">

					  <input class="govuk-checkboxes__input" id="emergencyupdateonly" name="typeofalert" type="checkbox" value="Emergency or incident in the country" {%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Emergency or incident in the country')%}checked{%endif%}  aria-describedby="emergency-hint">

					  <label class="govuk-label govuk-checkboxes__label" for="emergencyupdateonly">
						  Emergency or incident in {{data['countries'].join(', ')}}
					  </label>
					  <div id="emergency-hint" class="govuk-hint govuk-checkboxes__hint">
						  If an emergency situation occurs, we can send you updates as the situation develops, including advice on what to do.
					  </div>
				  </div>
				  <br />
				  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
					  <div class="govuk-checkboxes__item">

						  <input class="govuk-checkboxes__input" id="type-travel-advice" name="typeofalert" type="checkbox"
								 value="Travel advice" {%if data['typeofalert'].length > 0 and data['typeofalert'].includes('Travel advice')%}checked{% endif %} aria-describedby="travel-update-hint">
						  <label class="govuk-label govuk-checkboxes__label" for="type-travel-advice">
							  Updates to travel advice pages on gov.uk
						  </label>
						  <div id="travel-update-hint" class="govuk-hint govuk-checkboxes__hint">
							  Whenever the travel advice for {{data['countries'].join(', ')}} is updated, we will send you a notification
						  </div>
					  </div>
				  </div>
			  </div>
			  </fieldset>
		  </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
